<div class="vote" v-show="activityTabs.vote" :class="{blur: isBlur }">
	<h3 class="heading clearfix" :class="{on: vote.isVoted}">
		<div class="fl"><span class="icon">投票</span><span>死了就是了</span></div>
		<span class="fr" v-show="vote.isVoted" style="display:none;">1万</span>
	</h3>
	<h3 class="heading sec clearfix" v-show="vote.isVoted" style="display:none;">
		<div class="fl"><span class="highlight">连云港生活</span><span>发起，剩余28天</span></div>
		<span class="fr">参与人数</span>
	</h3>
	<p class="content" v-show="!vote.isVoted">手机上来的就是简单了设计福利时间浪费闪闪发亮结束了烦死老费劲死了发生了附近闪闪发亮结束了分十分了解是发生了附近十分了解了历史积分双方就来了副书记</p>
	<div v-if="!vote.isVoted">
		<div v-for="section in vote.sections" class="vote-section">
			<div class="bg"></div>
			<div class="wrap">
				<label class="radio" :for="section.id" @click="clickRadio($index, $event)">
					<input :id="section.id" type="radio" :name="section.name" class="hidden-input">
					<i class="icon"></i>
					<span>{{ section.text }}</span>
				</label>
			</div>
		</div>
		<a class="big-btn" @click="clickVote">投票</a>
	</div>
	<div v-else>
		<div v-for="section in vote.sections" class="vote-section on" :class="{highlight: $index== vote.index}">
			<div class="bg" :style="{width: section.rate}"></div>
			<div class="wrap">
				<p class="p">
					<span v-text="section.text"></span><br/> 
					<span v-text="section.rate">
				</p>
				<!-- <label class="radio" :for="section.id">
					<input :id="section.id" type="radio" :name="section.name" class="hidden-input" disabled>
					<i class="icon"></i>
					</span>
				</label> -->
			</div>
		</div>
		<!-- <a class="btn-return big-btn" @click="changeActivityTab('main')">返回</a> -->
	</div> 
</div>