//
   Created by Origin on 2017-09-25 22:27:46

doctype html
html
   head
      meta(charset='UTF-8')
      meta(name='description', content='麦得斯')
      meta(http-equiv='pragma', content='no-cache')
      meta(http-equiv='Cache-Control', content='no-cache, must-revalidate')
      meta(http-equiv='expires', content='0')
      title 麦得斯
      link(href='/static/main/css/main.e37f20.css', rel='stylesheet')
      script(src='/static/assets/js/jquery.min.js')
      script(src='/static/render/xeogl.js')
      script(src='/static/render/skybox.js')
      script(src='/static/render/k3d.js')
      script(src='/static/render/objGeometry.js')
      script(src='/static/render/bundle.js')
   body
      app
      script(type='text/javascript', src='/static/main/js/manifest_18fcdc.js')
      script(type='text/javascript', src='/static/main/public/vue-family.js')
      script(type='text/javascript', src='/static/main/js/main_4a188f.js')